body {
    background-image: url(../background.jpg);
    user-select: none;
    margin: 0;
    font-family: sans-serif;
}


#chats-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    position: absolute;
    background-color: rgb(35, 35, 35);
    overflow-y: auto;
}

.chat {
    width: 100%;
    height: 10%;
    padding: 3%;
    box-sizing: border-box;
    border-bottom: 1px solid white;
}

.chat:hover {
    background-color: rgb(30, 30, 30);
    cursor: default;
}

.chat-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.chat-header {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.unseen-messages {
    position: relative;
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 2%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-username {
    color: #eef3f0;
}

.chat-time {
    color: #999999;
    margin-top: 2%;
    font-size: 12px;
}

.header {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: rgb(25, 128, 39);
    padding: 3%;
}

#add-user {
    position: absolute;
    left: 40%;
    bottom: 0%;
    height: 10%;
    width: 40%;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    outline: none;
}

#add-user-field {
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    padding: 2%;
    box-sizing: border-box;
    font-size: 1.3em;
    font-family: inherit;
}

#add-user-field:focus {
    background-color: rgb(40, 40, 40);
}

#add-user-submit {
    flex: 1;
    background-color: green;
    outline: none;
    border: none;
}

#add-user-submit:hover {
    background-color: rgb(5, 90, 5);
}

#add-user-error-message {
    color: crimson;
    font-size: 1.6em;
    position: absolute;
    left: 41%;
    bottom: 11%;
}