body {
    background-image: url(../background.jpg);
    user-select: none;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    color: white;
}


#chats-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    position: absolute;
    background-color: rgb(35, 35, 35);
    overflow-y: auto;
}

.chat {
    width: 100%;
    height: 10%;
    padding: 3%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(90, 90, 90);
}

.chat:hover {
    background-color: rgb(30, 30, 30);
    cursor: default;
}

.chat-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.chat-header {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.unseen-messages {
    position: relative;
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 2%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-username {
    color: #eef3f0;
}

.chat-time {
    color: #999999;
    margin-top: 2%;
    font-size: 12px;
}

.header {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: rgb(25, 128, 39);
    padding: 3%;
}

#logout {
    position: absolute;
    left: 90%;
    top: 2%;
    border-radius: 3px;
    background-color: rgb(230, 15, 15);
    padding: 5px;
    font-size: 1.4em;
    height: 5%;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout:hover {
    background-color: rgb(150, 15, 15);
}

#logout:active {
    background-color: rgb(120, 15, 15);
}